In [12]:
def apply(criteria, n):
    """
    Input: criteria, Function that checks a condition
           n, a positive int
    Return: how many ints from 0 to n satisfy criteria
    """
    count = 0
    for i in range(1, n + 1):
        if criteria(i):
            count += 1
    return count

def is_even(n):
    return n%2 == 0

def is_5(n):
    return n == 5

print("apply with is_even :", apply(is_even, 10))
print("apply with anon fn :", apply(lambda x: x%2 == 0, 10))

apply with is_even : 5
apply with anon fn : 5

In [13]:
not is_even(5)

True

In [14]:
(lambda x: x%2 != 0)(5)

True

In [15]:
def do_twice(n, fn):
    """
    Input: fn, Function that is to be applied twice on the input n
           n, a positive int
    Return: value after applying fn twice on n
    """
    return fn(fn(n))
    
print(do_twice(3, lambda x: x**2))

81

Tuples

In [16]:
t = (2028, 'eee', True)
t[0]

2028

In [17]:
t = t + (18, 'cbe')

In [18]:
t[1:3]

('eee', True)

In [19]:
t[::2]

(2028, True, 'cbe')

In [20]:
len(t)

5

In [21]:
tm = (10, 5, 30)
print(max(tm))
print(tm.index(max(tm)))

30
2

In [22]:
t[1] = 20 # immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
a = (10)
b = (10,)
print(type(a),type(b))

<class 'int'> <class 'tuple'>

In [24]:
seq = (10, 20, 'abc', ('subtuple', 5), 'eee')
print(seq[-2])
print(seq[3])
print(seq[-2][0])
print(seq[3][1])
print(seq[1:4:2])
for i in seq:
    print(i, end=" ")

('subtuple', 5)
('subtuple', 5)
subtuple
5
(20, ('subtuple', 5))
10 20 abc ('subtuple', 5) eee

In [25]:
x = 10
y = 20
(x, y) = (y, x)
print(x, y)

20 10

In [26]:
def q_and_r(a, b):
    q = a // b
    r = a % b
    return (q, r)
    
print("quotient and remainder of (10, 2) :",q_and_r(10, 2))
answer = q_and_r(10, 2)
print("quotient of (10, 2) :", answer[0])
print("remainder of (10, 2) :", answer[1])
(q, r) = q_and_r(10, 2)
print(q)
print(r)

quotient and remainder of (10, 2) : (5, 0)
quotient of (10, 2) : 5
remainder of (10, 2) : 0
5
0

In [27]:
def count_chars(s):
    """
    Input s is a string of lowercase characters
    Returns a tuple where 1st element is the no. of vowels in s
    and 2nd element is no. of consonants in s
    """
    v = 0
    c = 0
    for i in s:
        if i in "aeiou":
            v += 1
        else:
            c += 1
    return (v, c)

print("no. of vowels and consonants in \"Jaidev\" is :", count_chars("Jaidev"))

no. of vowels and consonants in "Jaidev" is : (3, 3)

In [28]:
def mean(*args):
    tot = 0
    for i in args:
        tot += i
    return tot // len(args)

print("mean of (1, 2, 3, 4, 5) :", mean(1, 2, 3, 4, 5))

mean of (1, 2, 3, 4, 5) : 3

 Lists -> same as tuple but mutable

In [29]:
def sum(alist):
    sum = 0
    for i in alist:
        sum += i
    return sum

print(sum([10, 20, 30]))
print(sum(['ab', 'ef', 'cd']))

60

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [30]:
 def sum_char(alist):
    sum = 0
    for s in alist:
        sum += len(s) # adds len of each element(str) of list
    return sum
print(sum_char(['ab', 'ef', 'cd']))

6

In [31]:
def sum_and_prod(L):
    """
    Input L is list of numbers
    Returns a tuple where 1st element is the sum of all elements in L
    and 2nd element is product of all elements in L
    """
    summ = 0
    prod = 1
    for i in L:
        summ += i
        prod *= i
    return (summ, prod)
print(sum_and_prod([10, 2, 3]))

(15, 60)