In [4]:
a = (10, 'abc', [10, 20, 'def'])
print(a)
print(type(a))
print(a[2])
print(type(a[2]))
print(a[2][2])

(10, 'abc', [10, 20, 'def'])
<class 'tuple'>
[10, 20, 'def']
<class 'list'>
def

In [9]:
L = [1, 4, 5]
print(L)
L[1] = 3 # mutating
print(L)


print()
T = (1, 4, 5)
print(T)
T = (1, 3, 5) # binding to new object
print(T)

[1, 4, 5]
[1, 3, 5]

(1, 4, 5)
(1, 3, 5)

Operations on List

In [26]:
L = [1, 4, 5]
L.append(10)
print(L)
L.append([10, 20])
print(L)
print(L[4][0])
L = L.append(5) # L is none now as L.append() returns none
print(L)

[1, 4, 5, 10]
[1, 4, 5, 10, [10, 20]]
10
None

In [38]:
L1 = ['re']
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L3.append(L4)
L = L1.append(L3) # returns none but L1 is updated
print(L1,"\n",L2,"\n",L3,"\n",L)

['re', ['do', ['re', 'mi']]]
 ['mi']
 ['do', ['re', 'mi']]
 None

In [42]:
def make_ordered_list(n):
    """
    Input n is a postive integer
    Returns a list contaning all ints in order from 0 to n(included)
    """
    L = []
    for i in range(n + 1):
        L.append(i)
    return L

print("List of numbers :",make_ordered_list(10))

List of numbers : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
def remove_elem(L, e):
    """
    Input L is a list
    Returns a new list with elements in same order as L
    but without any elements equal to e
    """
    new_L = []
    for i in L:
        if(i != e):
            new_L.append(i) # new_L = [i for i in L if i != e]
    return new_L
print("List without 6 :",remove_elem([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 6))

List without 6 : [0, 1, 2, 3, 4, 5, 7, 8, 9, 10]

String to list

In [48]:
s = "I<3 CS &U"
L = list(s)
print(L)

['I', '<', '3', ' ', 'C', 'S', ' ', '&', 'U']

In [50]:
L1 = s.split(' ')
L2 = s.split('&')
print(L1)
print(L2)

['I<3', 'CS', '&U']
['I<3 CS ', 'U']

List to string

In [58]:
L = ['a', 'b', 'c']
A = ''.join(L)
print(A)
B = '_'.join(L)
print(B)
print(type(A), type(B))
# C = '_'.join([1, 2, 3])  error
C = '_'.join(['1', '2', '3'])
print(C)

abc
a_b_c
<class 'str'> <class 'str'>
1_2_3

In [60]:
def count_words(sen):  
    """
    Input sen is a string containing a sentence
    Returns the total number of words in a sen
    """  
    L1 = sen.split()  
    return len(L1)  

print("No. words in the sentence: 'I love CS':",count_words("I love CS"))

No. words in the sentence: 'I love CS': 3

In [66]:
L = [10, 2, 30, 15]
L.sort()
print(L)
L.reverse()
print(L)
L1 = [12, 25, 3, 1]
L2 = sorted(L1) # no mutation
print(L2)
print(L1)

[2, 10, 15, 30]
[30, 15, 10, 2]
[1, 3, 12, 25]
[12, 25, 3, 1]

In [13]:
def sort_words(sen):
    
    """
    Input sen is a string containing a sentence
    Returns a list containing all the words in sen but in alphabetically sorted order
    """  
    new_list = sen.split()
    # new_list.sort()
    return sorted(new_list)

print("sorted order of 'hello iam Jaidev eee firstyear student' :",sort_words('hello iam jaidev eee firstyear student'))

sorted order of 'hello iam Jaidev eee firstyear student' : ['eee', 'firstyear', 'hello', 'iam', 'jaidev', 'student']

In [19]:
def square_list(L):
    i = 0
    for e in L:
        L[i] = e ** 2
        i += 1
    return L
print(square_list([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [20]:
def square_list1(L):
    for i in range(len(L)):
        L[i] = L[i] ** 2
    return L
print(square_list1([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [22]:
def square_list3(L):
    for i, e in enumerate(L):
        L[i] = e ** 2
    return L
print(square_list3([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [23]:
L = [1, 2, 3, 4]
print("Tricky Example 1")
for i in range(len(L)):
    L.append(i)
    print(L)

tricky example 1
[1, 2, 3, 4, 0]
[1, 2, 3, 4, 0, 1]
[1, 2, 3, 4, 0, 1, 2]
[1, 2, 3, 4, 0, 1, 2, 3]

In [24]:
# Infinite loop as the L is mutated over every iteration
'''
print("Tricky Example 2")
L = [1, 2, 3, 4]
i = 0
for e in L:
    L.append(i)
    i += 1
    print(L)
'''

'\nprint("tricky example 2")\nL = [1, 2, 3, 4]\ni = 0\nfor e in L:\n    L.append(i)\n    i += 1\n    print(L)\n'

Combining Lists

In [30]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
L3 = L1 + L2 # new object
print(L3) 
L1.extend(L2) # mutates L1
print(L1)
L2.extend([[10, 20], [30, 40]])
print(L2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6, [10, 20], [30, 40]]

In [33]:
L = [1, 2, 3]
print("Tricky Example 3")
for e in L:
    L = L + L # = does not change the object in place but append changes
    print(L)

Tricky Example 4
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
L = [1, 2, 3]
print(id(L))

1511954867584

In [38]:
L.append(10) # changes in memory at time
print(L)
print(id(L))

[1, 2, 3, 10]
1511954867584

In [44]:
L.clear()
print(L)
print(id(L))
L = [] 
print(L)
print(id(L))

[]
1511954867584
[]
1511954396416

In [48]:
L = [1, 2, 3]
print(L)
print(id(L))
L = L + L
print(L)
print(id(L))

[1, 2, 3]
1511954959808
[1, 2, 3, 1, 2, 3]
1511954906816